.checkboxContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 20px;
}
.checkboxField,
.radioButtonField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e9e2f4;
  width: 15rem;
  padding: 5px 20px;
  color: #2f0a6b;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.006em;
}
.checkboxOptions {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
}
input[type="radio"] {
  margin-top: 0;
}

.checkboxField:nth-child(1),
.radioButtonField:nth-child(1) {
  border-radius: 18px 18px 0 0;
}
.checkboxField:nth-child(3),
.radioButtonField:nth-child(3) {
  border-radius: 0 0 18px 18px;
}

.EmoticonField {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e2f4;
  align-items: center;
  padding: 5px;
  width: 5rem;
  min-height: auto;
}
.EmoticonField:nth-child(1) {
  border-radius: 18px 0 0 18px;
}
.EmoticonField:nth-child(3) {
  border-radius: 0 18px 18px 0;
}
.EmoticonField span:nth-child(1) {
  font-size: 20px;
  overflow-wrap: anywhere;
}

.EmoticonContainer {
  display: flex;
}

.EmiticonOptions {
  color: #2f0a6b;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.006em;
}
