.itemProperties_Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemProperties_Wrapper span {
  border: 1px solid #e9e2f4;
  width: fit-content;
  padding: 0 5px;
  height: 1.5rem;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #2f0a6b;
  display: flex;
  justify-content: center;
  align-items: center;
}
