.inputActionField .icon1 {
  border-right: 1px solid #e9e2f4;
  color: #2f0a6b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.8;
  height: 3rem;
}

.inputActionField .icon2 {
  border-left: 1px solid #e9e2f4;
  color: #2f0a6b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.8;
  height: 3rem;
}
.inputActionField {
  width: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e9e2f4;
  border-radius: 18px;
}
.inputActionField .text {
  flex: 2;
  text-align: end;
  padding-right: 10px;
}
