.rawProgressContainer {
  border: 1px solid #e9e2f4;
  width: 8rem;
  max-width: 100%;
  padding: 5px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.rawProgressContainer h3 {
  margin: 0;
  font: inherit;
  font-weight: 600;
}
.rawProgressContainer span:nth-child(2) {
  font-weight: 600;
}
.rawProgressInnerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.progressBarField {
  width: 10rem;
}
.circularBar-Wrapper {
  position: relative;
}
.circularBar-Wrapper span {
  padding: 5px;
  color: #2f0a6b;
  font-weight: 600;
  font-family: "SF Pro Text";
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  left: 15%;
  top: 20%;
  width: 5rem;
}
.circularBar-Wrapper .ant-progress-text {
  display: none;
}
